<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>CFBundleExecutable</key>
    <string>${EXECUTABLE_NAME}</string>
    <key>CFBundleIdentifier</key>
    <string>com.peterdsp.Tempethéra</string>
    <key>CFBundleName</key>
    <string>Tempethéra</string>
    <key>CFBundleVersion</key>
    <string>1.0.3</string>

    <!-- Remove LSUIElement and LSBackgroundOnly for testing -->
    <!-- <key>LSUIElement</key>
    <string>1</string>
    <key>LSBackgroundOnly</key>
    <string>1</string> -->

    <!-- Add NSLocationUsageDescription -->
    <key>NSLocationUsageDescription</key>
    <string>Tempethéra requires access to your location to provide accurate weather information.</string>

    <key>NSAppTransportSecurity</key>
    <dict>
        <key>NSExceptionDomains</key>
        <dict>
            <key>weatherapi.com</key>
            <dict>
                <key>NSIncludesSubdomains</key>
                <true/>
                <key>NSTemporaryExceptionAllowsInsecureHTTPLoads</key>
                <true/>
                <key>NSTemporaryExceptionMinimumTLSVersion</key>
                <string>TLSv1.1</string>
            </dict>
        </dict>
    </dict>
</dict>
</plist>
